{% extends 'base.html' %}
{% block content %}

{% if profile %}

	<div class="container text-center">
		<div class="row">
			<div class="col-8">
				<h1>{{ profile.user.username }}'s Profile</h1>
				<br/>
				{% if meeps %}
					{% for meep in meeps %}
						<div class="alert alert-dark" role="alert">
						  {{ meep.body }}<br/>
			  				<small class="text-muted">
			  					({{ meep.created_at}}) By 
			  					@{{ meep.user.username }}

			  				</small>
						</div><br/><br/>
					{% endfor %}
				{% endif %}
			</div>

			<div class="col-4">
				<br/><br/><br/>
				<div class="card">
  <h5 class="card-header">Follows</h5>
  <div class="card-body">
    
    <p class="card-text">
    		{% for following in profile.follows.all %}
				<a href="{% url 'profile' following.user.id %}">@{{ following }}</a><br/>

			{% endfor %}

    </p>
    
  </div>
</div>
			
			

			<br/><br/>

			<div class="card">
  <h5 class="card-header">Followed By</h5>
  <div class="card-body">
    
    <p class="card-text">
    	{% for following in profile.followed_by.all %}
				<a href="{% url 'profile' following.user.id %}">@{{ following }}</a><br/>
			{% endfor %}

    </p>
    
  </div>
</div>
<br/>

<form method=POST>
{% csrf_token %}
{% if profile in user.profile.follows.all %}
 	<button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">
 		Unfollow @{{ profile.user.username|lower}}
 	</button>

{% else %}
	<button class="btn btn-outline-success" name="follow" value="follow" type="submit">
 		Follow @{{ profile.user.username|lower}}
 	</button>

{% endif %}

</form>
<br/>
	
	<!-- Check For Correct User -->
	{% if request.user.id == profile.user.id %}
		<a href="{% url 'update_user' %}" class="btn btn-outline-secondary">Update Profile</a>
	{% endif %}
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}



